<div *ngIf="data">
    <div class="container card-body mt-4">
        <div class="card">
            <div class="card-header">
                <font [size]="4"> <b> Profile </b></font>
            </div>
            <div class="row g-0">
                <div class="mt-2 col-md-2">
                    <img src="{{data.avatar_url}}" class="mx-auto d-block">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{data.name}}</h5>
                        <p class="card-text">{{data.location}}</p>
                        <a href="{{data.html_url}}" target="_blank">
                            <p class="card-text"><small class="text-muted">GitHub</small></p>
                        </a>
                        <a href="{{data.twitter_username}}" target="_blank">
                            <p class="card-text"><small class="text-muted">{{data.twitter_username}}</small></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="repos && repos!=null">
<div class="container card-body mt-4">
    <div class="card">
        <div class="card-header">
            <font [size]="4"><b> Repositories</b></font>
        </div>

        <div class="container row">
            
            <!-- <div *ngFor="let repo of repos | paginate:{ -->

            <div *ngFor="let repo of repos.items | paginate:{
                
                
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
            }; let i = index " class="col-sm-6 mb-3 mt-3">
                <div class="card" id="repo-card">
                    <div class="card-body">
                        <a href="{{repo.html_url}}" target="_blank">
                            <h5 class="card-title">{{repo.name}}</h5>
                        </a>
                        <p class="card-text">{{repo.description}}
                        </p>
                        <div>
                            <h5><span *ngFor="let topic of repo.topics"
                                    class="badge bg-secondary mt-1 ms-1">{{topic}}</span></h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div align="center">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">

            </pagination-controls>
        </div>

    </div>
</div>
</div>



<!-- <div class="container card-body mt-4">
    <div class="card">
      <div class="card-header">
        
      </div>
      <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
</div>



 -->