<div class="container card-body mt-4">
  <div class="card">
    <div class="card-header">
      <h5>Search GitHub Repositories</h5>
    </div>
    <div class="card-body">
      <form class="d-flex" (submit)="searchUser()">
        <div class="form-group">
          <input [(ngModel)]="inputGithubUser" size="40" name="user" class="form-control" type="search"
            placeholder="GitHub Username">
        </div>
        &nbsp;&nbsp;
        <div>
          <input type="submit" value="Search" class="btn btn-success">
        </div>
        <!-- {{inputGithubUser}} -->
      </form>
    </div>
  </div>
  <div>
  </div>
</div>