<div class="container card-body mt-4">
  <div class="card">
    <div class="card-header">
      <font [size]="4"><b> Search GitHub Repositories</b></font>
    </div>
    <div class="card-body">

      <form class="d-flex" (ngSubmit)="searchUser()">
        
          <div class="">
            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
          </div>
          &nbsp;&nbsp;
          <div class="col-auto mt-1">
          <input [(ngModel)]="inputGithubUser" size="40" name="user" class="form-control" type="search"
            placeholder="GitHub Username">
          </div>
        &nbsp;&nbsp;
        <div class="col-auto mt-1">
          <input type="submit" value="Search" class="btn btn-success">
        </div>
        <!-- {{inputGithubUser}} -->
      </form>

    </div>
  </div>
  <div>
  </div>
</div>